body {
    background-color:rgb(24, 23, 23);
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-size: cover;
    background-image: url(./freddie.jpg);
    opacity: 0,5;
}


h1 {
    color: white;
}
p {
    color: white;
}

main {
    overflow: hidden;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color:rgb(5, 5, 5);
    padding-top: 20px;
  }

  a {
      color: white;
  }

  h3 {
      padding-left: 55px;
  }

  #griglia { 
     margin: 5px;
    }

    /*sorry for the italian but button=pulsante */
#pulsante {
cursor: pointer;
text-align: center;
-moz-border-radius: 30px;
-webkit-border-radius: 40px;
color: #fff;
padding: 5px 40px;
background:rgb(70, 180, 70);
border-color: rgb(70, 180, 70);
}    

#button2 {
cursor: pointer;
text-align: center;
-moz-border-radius: 30px;
-webkit-border-radius: 40px;
color: #fff;
padding: 5px 30px;
background-color:rgb(100, 99, 99);
border-color: white;
}   
