body {
    background-color:rgb(24, 23, 23);
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-size: cover;
    background-image: url(./freddie.jpg);

}

h1 {
    color: white;
}
p {
    color: white;
}

main {
    overflow: hidden;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color:rgb(5, 5, 5);
    padding-top: 20px;
  }

  a {
      color: white;
  }